html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: overlay;
}

* {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

.wrapper {
  min-height: 100vh;
  max-width: 41rem;
  margin: 0 auto;
}

.header {
  height: 6rem;
}

.slider {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  max-height: 46rem;
  background-color: #2B2115;
  overflow: hidden;
}

.slider_img {
  /* margin-bottom: 1.2rem; */
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slider_footer {
  position: relative;
  display: flex;
  justify-content: space-between
}

.slider_text {
  max-width: 75%;
  padding-bottom: 2rem;
  display: inline-flex;
}

@media (max-width: 767px) {
  .slider_text {
    padding-bottom: 3rem;
  }
}

.slider_text-item,
.slider_text span {
  color: #FFFFFF;
  font-size: 1.5rem;
}

.slider_img::-webkit-scrollbar-track {
  background: transparent;
}

.slider_img-item {
  display: flex;
  flex-direction: column;
  background-color: #2B2115;
}

.slider_img-item {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.slider_img-item img {
  margin-bottom: 1.2rem;
}

@media (max-width: 767px) {
  .slider_img-item img {
      margin-bottom: 3.6rem;
    }
}

.slider_buttons {
  position: absolute;
  display: inline-flex;
  right: 0;
  bottom: 1.6rem;
  background-color: #2B2115;
  z-index: 1;
}

@media (max-width: 767px) {
  .slider_buttons {
    left: 50%;
    margin-left: -4rem;
    /* left: 50%; */
    bottom: 5rem;
  }
}

.slider_button-btn {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider_button {
  width: 1rem;
  height: 1rem;
  background: #71abff;
  border-radius: 50%;
}

.slider_button-btn:hover .slider_button {
  background: #FFFFFF;
}

.slider_button-btn:active .slider_button {
  background: red;
}

/* .slider_button-btn+.slider_button-btn {
  margin-left: 0.7rem;
} */

input[type="radio"] {
  display: none;
}

input[type="radio"]+label span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.1rem;
  height: 2.1rem;
  margin: -0.125rem 0 0 0;
  vertical-align: middle;
  cursor: pointer;
}

input[type="radio"]+label span span {
  width: 1rem;
  height: 1rem;
  background: #71abff;
  border-radius: 50%;
  margin: auto;
}

input[type="radio"]:hover+label span span {
  background: #FFFFFF;
}

input[type="radio"]:checked+label span span {
  background: transparent;
  border: 0.125rem solid #71abff;
}

input[type="radio"]:checked:hover+label span span {
  border: 0.125rem solid #FFFFFF;
}
