html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: overlay;
}

* {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

.wrapper {
  min-height: 100vh;
}

.header {
  height: 6rem;
}

.slider {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 41rem;
  max-height: 35rem;
  margin: 0 auto;
  background-color: #2B2115;
  overflow: hidden;
}

.slider_img {
  margin-bottom: 1.2rem;
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slider_footer {
  display: flex;
  justify-content: space-between
}

.slider_text {
  color: #FFFFFF;
  max-width: 75%;
  padding-bottom: 2rem;
  display: inline-flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.slider_text span {
  font-size: 1.5rem;
}

.slider_img::-webkit-scrollbar-track {
  background: transparent;
}

.slider_img-item {
  background: #eee;
}

.slider_img-item,
.slider_text-item {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;

  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.slider_buttons {
  display: inline-flex;
}

.slider_button-btn {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider_button {
  width: 1rem;
  height: 1rem;
  background: #71abff;
  border-radius: 50%;
}

.slider_button-btn:hover .slider_button {
  background: #FFFFFF;
}

.slider_button-btn:active .slider_button {
  background: red;
}

/* .slider_button-btn+.slider_button-btn {
  margin-left: 0.7rem;
} */